body {
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p, td {
    font-family: Arial, sans-serif;
}

th, td{
    font-size: 20px;
    padding-right: 20px;
}

th {
    font-family: "luminari", sans-serif;
}

form {
    margin-bottom: 50px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: available;
    width: -moz-available;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f4433677;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.navbar li {
    display: inline;
    float: left;
}

.navbar-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "luminari", sans-serif;
    font-size: 24px;
}

.navbar-a:hover, .drop-button:hover {
    background-color: #f4433677;
}

.navbar li img {
    display: block;
    padding: 14px 16px;
    vertical-align: middle;
}

.drop-button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f4433655;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a  {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "luminari", sans-serif;
    font-size: 18px;
}

.dropdown-content a:hover {background-color: #f4433655;}

.dropdown:hover .dropdown-content {
    display: block;
}

h1, h2 {
    font-family: "luminari", sans-serif;
    text-shadow: 1px 1px #f4433677;
}

.content_wrap {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 0;
    width: available;
    width: -moz-available;
    height: available;
}

.content {
    width: 65%;
    margin: auto;
    padding: 25px 50px 50px 50px;
    background-color: #ffdccf77;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
