{% extends "dnd_imh/base.html" %}

{% block title %}{{ user_obj.username }} | D&D IMH{% endblock %}

{% block content-title %}
    {{ user_obj.username }}{% if user_obj.is_staff %} <span style="font-size: 20px">(staff)</span>{% endif %}
{% endblock %}

{% block content %}
    <h2>Worlds</h2>
    {% if worlds%}
    <table>
        <tr>
            <th>Name</th>
            <th>Owner</th>
        </tr>
        {% for world in worlds %}
        <tr>
            <td><a href="{% url 'dnd_map:index' world.pk %}">{{ world.name }}</a></td>
            <td>{{ world.owner }}</td>
            {% if is_owner %}
            <td><a href="{% url 'dnd_imh:edit_world' world.pk %}">edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>This user didn't create any world yet.</p>
    {% endif %}
{% endblock %}
