{% extends "dnd_imh/base.html" %}

{% block title %}{{ user_obj.username }} | D&D IMH{% endblock %}

{% block body %}
<div class="content">
    <h1>{{ user_obj.username }}</h1>

    {% if user_obj.is_staff %}
    <p>Admin</p>
    {% endif %}

    <h2>Worlds</h2>
    {% if worlds%}
    <table>
        <tr>
            <th>Name</th>
            <th>Owner</th>
        </tr>
        {% for world in worlds %}
        <tr>
            <td><a href="{% url 'dnd_map:index' world.pk %}">{{ world.name }}</a></td>
            <td>{{ world.owner }}</td>
            {% if is_owner %}
            <td><a href="{% url 'dnd_imh:edit_world' world.pk %}">edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>This user didn't create any world yet.</p>
    {% endif %}
</div>
{% endblock %}
