{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{% if edit %}Edit {% else %}New {%endif%}{% if type == 'coord'%}appearance{% else %}{% if edit %}{{ object.name }}{% else %}location{%endif%}{% endif %} | D&D IMV{% endblock %}

{% block scripts %}
{% if type == 'coord' %}
<script src="https://cdn.jsdelivr.net/npm/es6-promise/dist/es6-promise.auto.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/imagemapster@1.5.4/dist/jquery.imagemapster.min.js"></script>
<script src="{% static 'dnd_map/scripts/imageMapGenerator.js' %}"></script>
<script>
    window.onload = function () {
        new ImageMapGenerator(
            document.getElementById('id_location'),
            document.getElementById('map_selector'),
            document.getElementById('id_coords'),
            '{{ maps|safe }}'
        )
    }
</script>
{% else %}
<script>
    window.onload = function () {
        document.getElementById('id_world').parentNode.parentNode.hidden = true
    }
</script>
{% endif %}
{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{% if edit %}Edit {% else %}New {%endif%}{% if type == 'coord'%}appearance{% else %}{% if edit %}{{ object.name }}{% else %}location{%endif%}{% endif %}</h1></legend>
        {% if form.errors or error %}
        {{ form.non_field_errors}}
        {{ error }}
        {% endif %}
        <table>
            {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}</td>
                <td class="help">{{ field.help_text }}</td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    <label hidden>
        <input name="return" value="{{ return }}" hidden>
        {% if edit %}
        <input name="path" {% if has_map %} value="{{ object.map.path }}"  {% endif %} hidden>
        {% endif %}
    </label>
    {% if edit %}
    <a href="{% url 'dnd_map:remove' world.pk type object.pk return %}">Remove</a>
    {% endif %}
    <input type="reset" value="Clear">
    <input type="submit" value="Save">
</form>
{% if type == 'coord' %}
<div>
    <div>
        <h1>Coordinate selector</h1>
        <p>Click on the two corners of the rectangle, which covers the place on the map, or its label.</p>
    </div>
    <div id="map_selector"></div>
</div>
{% endif %}
{% endblock %}
