{% extends "dnd_map/base.html" %}

{% block title %}New {{ settlement_type }} | D&D IMV{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend><h1>New {{ settlement_type }}</h1></legend>
        {{ form.as_p }}
    </fieldset>
    <label hidden>
        <input name="return" value="{{ return }}" hidden>
    </label>
    <input type="reset" value="Clear">
    <input type="submit" value="Save">
</form>
<a href="{% url 'dnd_map:help' %}">Help</a>
{% endblock %}