body {
    padding: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.list_column {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
}

th {
    text-align: left;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none
}

#menu * {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    font-size: larger;
}

.toggle {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 1px 5px;
    margin: 5px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.toggle:hover {
    background-color: white;
    color: #4CAF50;
}

.off {
    background-color: white;
    color: #f44336;
    border: 2px solid #f44336;
}

.off:hover {
    background-color: #f44336;
    color:white;
}

.button {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 1px 5px;
    margin: 5px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.add {
    width: 100%;
}

.item {
    width: 100%;
}

.item tbody tr {
    width: 100%;
}

.item tbody tr td a{
    display: inline-block;
    width: available;
}
