{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ city.name }}, {{ city.kingdom.name }} | D&D IMV{% endblock %}

{% block scripts %}
{% if is_map_set %}
<script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
<script>
    window.onload = function () {
        new ImageMap(document.getElementById('map'),
            document.getElementById('img'),
            parseInt("{{ map_original_width }}")).resize()
    }
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="information">
    <h1>
        {% if user.is_authenticated %}
        <a class="toggle {% if not city.discovered %}off{% endif %}" href="{% url 'dnd_map:switch_discovered' 'city' city.pk %}">
            {% if city.discovered %} ✓ {% else %} ✗ {% endif %}
        </a>
        <a class="button" href="{% url 'dnd_map:edit' 'city' city.pk %}">✎</a>
        {% endif %}
        {{ city.name }}
    </h1>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ city.name }}</td>
        </tr>
        {% if city.pronunciation %}
        <tr>
            <th>Pronunciation:</th>
            <td>{{ city.pronunciation }}</td>
        </tr>
        {% endif%}
        <tr>
            <th>Kingdom:</th>
            <td><a href="{% url 'dnd_map:kingdoms' city.kingdom.name %}">{{ city.kingdom.name }}</a></td>
        </tr>
        {% if city.type %}
        <tr>
            <th>Type:</th>
            <td>{{ city.type }}</td>
        </tr>
        {% endif%}
    </table>
</div>
{% if city.description %}
<div id="description">
    <h2>Description</h2>
    <p>{{ city.description }}</p>
</div>
{% endif %}
{% if city.map %}
<div id="map_view">
    <img id="img" src="{{ city.map.url }}" alt="Map of {{ city.name }}" usemap="#map" width="100%">

    <!-- TODO -->
    <map name="map"></map>
</div>
{% endif %}
{% if places or user.is_authenticated %}
<div id="list_view">
    <h2>Places</h2>
    <ul>
        {% for place in places %}
        <li>
            {% if user.is_authenticated %}
            <a class="toggle {% if not place.discovered %}off{% endif %}" href="{% url 'dnd_map:switch_discovered' 'place' place.pk %}">
                {% if place.discovered %} ✓ {% else %} ✗ {% endif %}
            </a>
            <a class="button" href="{% url 'dnd_map:edit' 'city' city.pk %}">✎</a>
            {% endif %}
            <a href="{% url 'dnd_map:places' place.city.kingdom.name place.city.name place.name %}"><i>{{ place.name }}</i></a>
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
        <li>
            <a class="button" href="{% url 'dnd_map:new_parent' 'place' city.pk %}">+</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}