{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ kingdom.name }} | D&D IMV{% endblock %}

{% block scripts %}
{% if is_map_set %}
<script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
<script>
    window.onload = function () {
        new ImageMap(document.getElementById('map'),
            document.getElementById('img'),
            parseInt("{{ map_original_width }}")).resize()
    }
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="information">
    <h1>{{ kingdom.name }}</h1>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ kingdom.name }}</td>
        </tr>
        {% if kingdom.pronunciation %}
        <tr>
            <th>Pronunciation:</th>
            <td>{{ kingdom.pronunciation }}</td>
        </tr>
        {% endif%}
        <tr>
            <th>Capital:</th>
            <td><a href="{% url 'dnd_map:cities' capital.kingdom.name capital.name %}">{{ capital.name }}</a></td>
        </tr>
        {% if kingdom.type %}
        <tr>
            <th>Type:</th>
            <td>{{ kingdom.type }}</td>
        </tr>
        {% endif%}
    </table>
</div>
{% if kingdom.description %}
<div id="description">
    <h2>Description</h2>
    <p>{{ kingdom.description }}</p>
</div>
{% endif %}
{% if kingdom.map_path %}
<div id="map_view">
    <img id="img" src="{% static '/dnd_map/images/maps/' + kingdom.map_path %}" alt="Map of {{ kingdom.name }}" usemap="#map" width="100%">

    <!-- TODO -->
    <map name="map"></map>
</div>
{% endif %}
<div id="list_view">
    <h2>Cities</h2>
    {% for city in cities %}
    <div class="list_column">
        {% if user.is_authenticated %}
        <a class="button {% if not city.discovered %}undiscovered{% endif %}" href="{% url 'dnd_map:switch_discovered' 'city' city.pk %}">
            {% if city.discovered %} ✓ {% else %} ✗ {% endif %}
        </a>
        {% endif %}
        <a href="{% url 'dnd_map:cities' city.kingdom.name city.name %}">{{ city.name }}</a>
        <ul>
            {% for place in places %}
            {% if place.city == city %}
            <li>
                {% if user.is_authenticated %}
                <a class="button {% if not place.discovered %}undiscovered{% endif %}" href="{% url 'dnd_map:switch_discovered' 'place' place.pk %}">
                    {% if place.discovered %} ✓ {% else %} ✗ {% endif %}
                </a>
                {% endif %}
                <a href="{% url 'dnd_map:places' place.city.kingdom.name place.city.name place.name %}"><i>{{ place.name }}</i></a>
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <a href="{% url 'dnd_map:new_parent' 'place' city.pk %}">Add place</a>
            </li>
        </ul>
    </div>
    {% endfor %}
    <div class="list_column">
        <a href="{% url 'dnd_map:new_parent' 'city' kingdom.pk %}">Add city</a>
    </div>
</div>
{% endblock %}
