<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'dnd_map/styles/style.css' %}">

    {% if kingdom.map_path %}
    <script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
    <script>
        window.onload = function () {
            new ImageMap(document.getElementById('map'),
                document.getElementById('img'),
                parseInt("{{ map_original_width }}")).resize()
        }
    </script>
    {% endif %}

    <title>{{ kingdom.name }} | D&D IMV</title>
</head>
<body>
<div id="information">
    <h1>{{ kingdom.name }}</h1>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ kingdom.name }}</td>
        </tr>
        {% if kingdom.pronunciation %}
        <tr>
            <th>Pronunciation:</th>
            <td>{{ kingdom.pronunciation }}</td>
        </tr>
        {% endif%}
        <tr>
            <th>Capital:</th>
            <td><a href="{% url 'cities' capital.kingdom.name capital.name %}">{{ capital.name }}</a></td>
        </tr>
        {% if kingdom.type %}
        <tr>
            <th>Type:</th>
            <td>{{ kingdom.type }}</td>
        </tr>
        {% endif%}
    </table>
</div>
{% if kingdom.description %}
<div id="description">
    <h2>Description</h2>
    <p>{{ kingdom.description }}</p>
</div>
{% endif %}
{% if kingdom.map_path %}
<div id="map_view">
    <img id="img" src="{% static '/dnd_map/images/maps/' + kingdom.map_path %}" alt="Map of {{ kingdom.name }}" usemap="#map" width="100%">

    <map name="map"></map>
</div>
{% endif %}
{% if places %}
<div id="list_view">
    {% for city in cities %}
    <div class="list_column">
        <h2><a href="{% url 'cities' city.kingdom.name city.name %}">{{ city.name }}</a></h2>
        <ul>
            {% for place in places %}
            {% if place.city == city %}
            <li><a href="{% url 'places' place.city.kingdom.name place.city.name place.name %}">{{ place.name }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endif %}
</body>
</html>