{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ kingdom.name }} | D&D IMV{% endblock %}

{% block scripts %}
{% if is_map_set %}
<script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
<script>
    window.onload = function () {
        new ImageMap(document.getElementById('map'),
            document.getElementById('img'),
            parseInt("{{ map_original_width }}")).resize()
    }
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="information">
    <h1>
        {% if user.is_authenticated %}
        <a class="toggle {% if not kingdom.discovered %}off{% endif %}" href="{% url 'dnd_map:toggle_discovered' 'kingdom' kingdom.pk %}">
            {% if kingdom.discovered %} ✓ {% else %} ✗ {% endif %}
        </a>
        <a class="button" href="{% url 'dnd_map:edit' 'kingdom' kingdom.pk %}">✎</a>
        {% endif %}
        {{ kingdom.name }}
    </h1>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ kingdom.name }}</td>
        </tr>
        {% if kingdom.pronunciation %}
        <tr>
            <th>Pronunciation:</th>
            <td>{{ kingdom.pronunciation }}</td>
        </tr>
        {% endif%}
        <tr>
            <th>Capital:</th>
            <td><a href="{% url 'dnd_map:cities' capital.kingdom.name capital.name %}">{{ capital.name }}</a></td>
        </tr>
        {% if kingdom.type %}
        <tr>
            <th>Type:</th>
            <td>{{ kingdom.type }}</td>
        </tr>
        {% endif%}
    </table>
</div>
{% if kingdom.description %}
<div id="description">
    <h2>Description</h2>
    <p>{{ kingdom.description }}</p>
</div>
{% endif %}
{% if kingdom.map %}
<div id="map_view">
    <img id="img" src="{{ kingdom.map.url }}" alt="Map of {{ kingdom.name }}" usemap="#map" width="100%">

    <map name="map">
        {% for place in places %}
        {% if place.kingdom_coords %}
        <area shape="rect" coords="{{ place.kingdom_coords }}" href="{% url 'dnd_map:places' place.city.kingdom.name place.city.name place.name %}"
              title="{{ place.name}}, {{ place.city.name }}" alt="{{ place.name}}, {{ city.name }}">
        {% endif %}
        {% endfor%}
        {% for city in cities %}
        {% if city.kingdom_coords %}
        <area shape="rect" coords="{{ city.kingdom_coords }}" href="{% url 'dnd_map:cities' city.kingdom.name city.name %}"
              title="{{ city.name }}" alt="{{ city.name }}">
        {% endif %}
        {% endfor%}
        {% for terrain_coord in terrain_coords %}
        <area shape="rect" coords="{{ terrain_coord.coords }}" href="{% url 'dnd_map:terrains' terrain_coord.terrain.name %}"
              title="{{ terrain_coord.terrain.name }}" alt="{{ terrain_coord.terrain.name }}">
        {% endfor%}
    </map>
</div>
{% endif %}
<div id="list_view">
    {% if cities or user.is_authenticated%}
    <div class="list_column">
        <h2>Cities</h2>
        {% for city in cities %}
        <div class="list_column">
            {% if user.is_authenticated %}
            <a class="toggle {% if not city.discovered %}off{% endif %}" href="{% url 'dnd_map:toggle_discovered' 'city' city.pk %}">
                {% if city.discovered %} ✓ {% else %} ✗ {% endif %}
            </a>
            <a class="button" href="{% url 'dnd_map:edit' 'city' city.pk %}">✎</a>
            {% endif %}
            <a href="{% url 'dnd_map:cities' city.kingdom.name city.name %}">{{ city.name }}</a>
            <ul>
                {% for place in places %}
                {% if place.city == city %}
                <li>
                    {% if user.is_authenticated %}
                    <a class="toggle {% if not place.discovered %}off{% endif %}" href="{% url 'dnd_map:toggle_discovered' 'place' place.pk %}">
                        {% if place.discovered %} ✓ {% else %} ✗ {% endif %}
                    </a>
                    <a class="button" href="{% url 'dnd_map:edit' 'place' place.pk %}">✎</a>
                    {% endif %}
                    <a href="{% url 'dnd_map:places' place.city.kingdom.name place.city.name place.name %}"><i>{{ place.name }}</i></a>
                </li>
                {% endif %}
                {% endfor %}
                {% if user.is_authenticated %}
                <li>
                    <a class="button" href="{% url 'dnd_map:new' 'place' city.pk %}">+</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <div class="list_column">
            <a class="button" href="{% url 'dnd_map:new' 'city' kingdom.pk %}">+</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% if terrain_coords %}
    <div class="list_column">
        <h2>Terrain</h2>
        <ul>
            {% for terrain_coord in terrain_coords %}
            <li>
                {% if user.is_authenticated %}
                <a class="toggle {% if not terrain_coord.terrain.show_description %}off{% endif %}" href="{% url 'dnd_map:toggle_discovered' 'terrain' terrain_coord.terrain.pk %}">
                    {% if terrain_coord.terrain.show_description %} ✓ {% else %} ✗ {% endif %}
                </a>
                <a class="button" href="{% url 'dnd_map:edit' 'terrain' terrain_coord.terrain.pk %}">✎</a>
                {% endif %}
                <a href="{% url 'dnd_map:terrains' terrain_coord.terrain.name %}">{{ terrain_coord.terrain.name }}</a>
            </li>
            {% endfor%}
            {% if user.is_authenticated %}
            <li>
                <a class="button" href="{% url 'dnd_map:new' 'terrain' %}">+</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
