{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ place.name }}, {{ place.city.name }}, {{ place.city.kingdom.name }} | D&D IMV{% endblock %}

{% block scripts %}
{% if is_map_set %}
<script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
<script>
    window.onload = function () {
        new ImageMap(document.getElementById('map'),
            document.getElementById('img'),
            parseInt("{{ map_original_width }}")).resize()
    }
</script>
{% endif %}
{% endblock %}

{% block body %}
<div id="information">
    <h1>{{ place.name }}</h1>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ place.name }}</td>
        </tr>
        {% if place.pronunciation %}
        <tr>
            <th>Pronunciation:</th>
            <td>{{ place.pronunciation }}</td>
        </tr>
        {% endif%}
        <tr>
            <th>City:</th>
            <td><a href="{% url 'cities' place.city.kingdom.name place.city.name %}">{{ place.city.name }}, {{ place.city.kingdom.name }}</a></td>
        </tr>
        {% if place.type %}
        <tr>
            <th>Type:</th>
            <td>{{ place.type }}</td>
        </tr>
        {% endif%}
    </table>
</div>
{% if place.description %}
<div id="description">
    <h2>Description</h2>
    <p>{{ place.description }}</p>
</div>
{% endif %}
{% if place.map_path %}
<div id="map_view">
    <img id="img" src="{% static '/dnd_map/images/maps/' + place.map_path %}" alt="Map of {{ place.name }}" width="100%">
</div>
{% endif %}
{% endblock %}
