{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ terrain.name }} | D&D IMV{% endblock %}

{% block body %}
<div id="information">
    <h1>
        {% if user.is_authenticated %}
        <a class="toggle {% if not terrain.show_description %}off{% endif %}" href="{% url 'dnd_map:toggle_discovered' 'terrain' terrain.pk %}">
            {% if terrain.show_description %} ✓ {% else %} ✗ {% endif %}
        </a>
        <a class="button" href="{% url 'dnd_map:edit' 'terrain' terrain.pk %}">✎</a>
        {% endif %}
        {{ terrain.name }}
    </h1>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ terrain.name }}</td>
        </tr>
        {% if terrain.pronunciation %}
        <tr>
            <th>Pronunciation:</th>
            <td>{{ terrain.pronunciation }}</td>
        </tr>
        {% endif%}
        {% if terrain.type %}
        <tr>
            <th>Type:</th>
            <td>{{ terrain.type }}</td>
        </tr>
        {% endif%}
    </table>
</div>
{% if terrain.description and terrain.show_description %}
<div id="description">
    <h2>Description</h2>
    <p>{{ terrain.description }}</p>
</div>
{% endif %}
{% if terrain_coords or user.is_authenticated %}
<div>
    <h2>Appearances</h2>
    <ul>
        {% for terrain_coord in terrain_coords %}
        <li>
            {% if user.is_authenticated %}
            <a class="button" href="{% url 'dnd_map:edit' 'terrain_coords' terrain_coord.pk %}">✎</a>
            {% endif %}
            {% if terrain_coord.location == 'IN' %}
            <a href="{% url 'dnd_map:index' %}">{{ world_name }}</a>
            {% elif terrain_coord.location == 'KI' %}
            <a href="{% url 'dnd_map:kingdoms' terrain_coord.kingdom.name %}">{{ terrain_coord.kingdom.name }}</a>
            {% elif terrain_coord.location == 'CI' %}
            <a href="{% url 'dnd_map:cities' terrain_coord.city.kingdom.name terrain_coord.city.name %}">{{ terrain_coord.city.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
        <li>
            <a class="button" href="{% url 'dnd_map:new' 'terrain_coords' terrain.pk %}">+</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}
