{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ world.name }} | D&D IMV{% endblock %}

{% block scripts %}
{% if world.main_map and coords %}
<script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="{% static 'dnd_map/scripts/generateListView.js' %}"></script>
<script src="{% static 'dnd_map/scripts/toggleButtons.js' %}"></script>
<script>
    window.onload = function () {
        {% if world.main_map and coords %}
        new ImageMap(
            document.getElementById('map'),
            document.getElementById('img'),
            parseInt('{{ map_original_width }}')).resize()
        {% endif %}

        {% if items %}
        populateListView('{{ items | safe }}', {{ is_owner|yesno:"true,false" }}, "{% url 'dnd_map:new' world.pk %}")
        {% endif %}
    }
</script>
{% endblock %}

{% block body %}
<div id="details">
    <h1>
        {% if is_owner %}
        <a class="button" href="{% url 'dnd_imh:edit_world' world.pk %}">✎</a>
        {% endif %}
        {{ world.name }}
    </h1>
    {% if world.description %}
    <p><pre>{{ world.description }}</pre></p>
    {% endif %}
</div>
{% if world.main_map %}
<div id="map_view">
    <img id="img" src="{{ world.main_map.url }}" alt="Map of the world" usemap="#map" width="50%">

    {% if coords %}
    <map id="map" name="map">
        {% for coord in coords %}
        <area shape="rect" coords="{{ coord.coords }}" href="{% url 'dnd_map:details' world.pk coord.item.pk %}"
              title="{{ coord.item.name }}" alt="{{ coord.item.name }}">
        {% endfor %}
    </map>
    {% endif%}
</div>
{% endif %}
<div id="list_view">

</div>
{% endblock %}
