{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ world_name }} | D&D IMV{% endblock %}

{% block scripts %}
{% if is_map_set and coords %}
<script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src="{% static 'dnd_map/scripts/generateListView.js' %}"></script>
<script src="{% static 'dnd_map/scripts/toggleButtons.js' %}"></script>
<script>
    window.onload = function () {
        {% if is_map_set and coords %}
        new ImageMap(
            document.getElementById('map'),
            document.getElementById('img'),
            parseInt('{{ map_original_width }}')).resize()
        {% endif %}

        {% if items %}
        populateListView('{{ items | safe }}', {{ user.is_authenticated|yesno:"true,false" }}, "{% url 'dnd_map:new' %}")
        {% endif %}
    }
</script>
{% endblock %}

{% block body %}
{% if is_map_set %}
<div id="map_view">
    <img id="img" src="{% static map_path %}" alt="Map of the world" usemap="#map" width="50%">

    {% if coords %}
    <map id="map" name="map">
        {% for coord in coords %}
        <area shape="rect" coords="{{ coord.coords }}" href="{% url 'dnd_map:details' coord.item.pk %}"
              title="{{ coord.item.name }}" alt="{{ coord.item.name }}">
        {% endfor %}
    </map>
    {% endif%}
</div>
{% endif %}
<div id="list_view">

</div>
{% endblock %}
