{% extends "dnd_map/base.html" %}
{% load static %}

{% block title %}{{ world_name }} | D&D IMV{% endblock %}

{% block scripts %}
{% if is_map_set %}
<script src="{% static 'dnd_map/scripts/mapResize.js' %}"></script>
<script>
    window.onload = function () {
        new ImageMap(document.getElementById('map'),
            document.getElementById('img'),
            parseInt("{{ map_original_width }}")).resize()
    }
</script>
{% endif %}
{% endblock %}

{% block body %}
{% if is_map_set %}
<div id="map_view">
    <img id="img" src="{% static map_path %}" alt="Map of the world" usemap="#map" width="100%">

    <map id="map" name="map">
        {% for place in places %}
        {% if place.index_coords %}
        <area shape="rect" coords="{{ place.index_coords }}" href="{% url 'dnd_map:places' place.city.kingdom.name place.city.name place.name %}"
              title="{{ place.name}}, {{ place.city.name }}, {{ place.city.kingdom.name }}" alt="{{ place.name}}, {{ city.name }}, {{ city.kingdom }}">
        {% endif %}
        {% endfor%}
        {% for city in cities %}
        {% if city.index_coords %}
        <area shape="rect" coords="{{ city.index_coords }}" href="{% url 'dnd_map:cities' city.kingdom.name city.name %}"
              title="{{ city.name }}, {{ city.kingdom.name }}" alt="{{ city.name }}, {{ city.kingdom.name }}">
        {% endif %}
        {% endfor%}
        {% for kingdom in kingdoms %}
        {% if kingdom.coords %}
        <area shape="rect" coords="{{ kingdom.coords }}" href="{% url 'dnd_map:kingdoms' kingdom.name %}"
              title="{{ kingdom.name }}" alt="{{ kingdom.name }}">
        {% endif %}
        {% endfor%}
    </map>
</div>
{% endif %}
<div id="list_view">
    {% for kingdom in kingdoms %}
    <div class="list_column">
        {% if user.is_authenticated %}
        <a class="toggle {% if not kingdom.discovered %}off{% endif %}" href="{% url 'dnd_map:switch_discovered' 'kingdom' kingdom.pk %}">
            {% if kingdom.discovered %} ✓ {% else %} ✗ {% endif %}
        </a>
        <a class="button" href="{% url 'dnd_map:edit' 'kingdom' kingdom.pk %}">✎</a>
        {% endif %}
        <a href="{% url 'dnd_map:kingdoms' kingdom.name %}"><strong>{{ kingdom.name }}</strong></a>
        <ul>
            {% for city in cities %}
            {% if city.kingdom == kingdom %}
            <li>
                {% if user.is_authenticated %}
                <a class="toggle {% if not city.discovered %}off{% endif %}" href="{% url 'dnd_map:switch_discovered' 'city' city.pk %}">
                    {% if city.discovered %} ✓ {% else %} ✗ {% endif %}
                </a>
                <a class="button" href="{% url 'dnd_map:edit' 'city' city.pk %}">✎</a>
                {% endif %}
                <a href="{% url 'dnd_map:cities' city.kingdom.name city.name %}">{{ city.name }}</a>
            </li>
            <ul>
                {% for place in places %}
                {% if place.city == city %}
                <li>
                    {% if user.is_authenticated %}
                    <a class="toggle {% if not place.discovered %}off{% endif %}" href="{% url 'dnd_map:switch_discovered' 'place' place.pk %}">
                        {% if place.discovered %} ✓ {% else %} ✗ {% endif %}
                    </a>
                    <a class="button" href="{% url 'dnd_map:edit' 'place' place.pk %}">✎</a>
                    {% endif %}
                    <a href="{% url 'dnd_map:places' place.city.kingdom.name place.city.name place.name %}"><i>{{ place.name }}</i></a>
                </li>
                {% endif %}
                {% endfor %}
                {% if user.is_authenticated %}
                <li>
                    <a class="button" href="{% url 'dnd_map:new_parent' 'place' city.pk %}">+</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            {% endfor %}
            {% if user.is_authenticated %}
            <li>
                <a class="button" href="{% url 'dnd_map:new_parent' 'city' kingdom.pk %}">+</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <div class="list_column">
        <a class="button" href="{% url 'dnd_map:new' 'kingdom' %}">+</a>
    </div>
    {% endif %}
</div>
{% endblock %}
