<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dnd_map/styles/style.css' %}">

    {% block scripts %}{% endblock %}

    <title>{% block title %}D&D Interactive Map Viewer{% endblock %}</title>
</head>
<body>
<div id="menu">
    <a href="{% url 'dnd_map:index' %}">D&D Interactive Map Viewer</a>
    <a href="{% url 'dnd_map:about' %}">About</a>
    {% if user.is_authenticated %}
    <a href="{% url 'dnd_map:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'dnd_map:login' %}">Login</a>
    {% endif %}
</div>
{% block body%}{% endblock %}
</body>
</html>
